:root {
    --gold: #E4B564;
}

* {
    font-family: 'Gilam', sans-serif;
    color: #fff;
}

body {
    background-color: #171717;
}

li {
    list-style: none;
}

.container {
    max-width: 1460px;
    margin: 0 auto;
}

.bg-black {
    background-color: #0E0E0E;
}

.header {
    padding-top: 37px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-call {
    width: 218px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Circe', sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: var(--gold);
    border: 1px solid var(--gold);
}

.btn-call-text {
    margin-left: 8px;
    font-family: 'Circe', sans-serif;
}

.network {
    padding-top: 128px;
}

.title {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
}

.text {
    padding-top: 41px;
    width: 1182px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.network-grid {
    padding-top: 40px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: repeat(2, 468px);
    gap: 30px;
    grid-template-areas:
    'sq1 sq2 sq2 sq3'
    'rect1 rect1 rect2 rect2';
}

.network-grid-item {
    padding: 0 65px;
    font-weight: 700;
    text-align: center;
}

.square, .rect {
    display: flex;
    justify-content: center;
    align-items: center;
}

.square:nth-child(1) {
    grid-area: sq1;
    background-color: #634F2C;
}

.square:nth-child(2) {
    grid-area: sq2;
    background-color: #B4A385;
}

.square:nth-child(3) {
    grid-area: sq3;
    background-color: #E4B564;
}

.rect1  {
    grid-area: rect1;
    background-color: #635A4A;
}

.rect2 {
    grid-area: rect2;
    background-color: #B08C4D;
}

.equipment {
    padding-top: 160px;
    padding-bottom: 190px;
}

.equipment-grid {
    padding-top: 94px;
    min-height: 898px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-auto-flow: column;
    gap: 30px;
}

.equipment-grid-item {
    padding-top: 44px;
    padding-left: 52px;
}

.equipment-grid-item:nth-child(1) {
    min-height: 312px;
    grid-area: span 2 / span 1;
    background-color: #0E0E0E;
}

.equipment-grid-item:nth-child(2) {
    grid-area: span 4 / span 1;
    background-color: #242424;
}

.equipment-grid-item:nth-child(3) {
    min-height: 440px;
    grid-area: span 3 / span 1;
    background-color: #1F1F1F;
}

.equipment-grid-item:nth-child(4) {
    grid-area: span 3 / span 1;
    background-color: #E4B564;
    color: #000;
}

.equipment-grid-item:nth-child(5) {
    min-height: 255px;
    grid-area: span 1 / span 1;
    background-color: #1F1F1F;
}

.equipment-grid-item:nth-child(6) {
    height: 313px;
    grid-area: span 3 / span 1;
    background-color: #0E0E0E;
}

.equipment-grid-item:nth-child(7) {
    min-height: 277px;
    grid-area: span 2 / span 1;
    background-color: #0A0909;
}

.bold {
    font-weight: 700;
}

.clients {
    padding-top: 170px;
    background-color: #0E0E0E;
}

.clients-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clients-grid {
    padding-top: 72px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 390px);
    gap: 0;
}

.clients-grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 28px;
}

.clients-grid-item:nth-child(1) {
    background-color: #634F2C;
}

.clients-grid-item:nth-child(2) {
    background-color: #E8D2ABC2;
}

.clients-grid-item:nth-child(3) {
    background-color: #E4B564;
}

.clients-grid-item:nth-child(4) {
    background-color: #635A4A;
}

.clients-grid-item:nth-child(5) {
    background-color: #B08C4D;
}

.clients-grid-item:nth-child(6) {
    background-color: #634F2C;
}

.footer {
    height: 238px;
}